body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(6, 62, 165);
    position: relative;
}
.out_box{
    height: 45vh;
    width: 43px;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
    background-color: #3d405b;
    border: solid 3px black;
    box-shadow: 0px 0px 20px 3px black inset;
    display: flex;
    z-index: 99;
    flex-direction: column;
    justify-content: space-between;
}
.light_box{
    height: 40vh;
    width: 38px;
    margin: 1px;
    background-color: #3d405b;
    border: solid 3px black;
    box-shadow: 0px 0px 20px 3px black inset;
    display: flex;
    justify-content: center;
    align-self: center;
}
.light{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding-left: 1px;
    align-self: center;
}
#red{
    background-color: red;
    box-shadow: 0px 0px 15px 8px #660708 inset;
}
#yellow{
    background-color: yellow;
    box-shadow: 0px 0px 15px 8px #e09f3e inset;
}
#green{
    background-color: #6a994e;
    box-shadow: 0px 0px 15px 8px #02963b inset;
}
#red.light.active{
    background-color: red;
    box-shadow: 0px 0px 15px 8px #660708;
}
#yellow.light.active{
    background-color: yellow;
    box-shadow: 0px 0px 15px 8px #e09f3e;
}
#green.light.active{
    background-color: #5de210;
    box-shadow: 0px 0px 15px 8px #06b41e;
}
.pole{
    height: 50vh;
    width: 3vw;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #3d405b;
}